{layout 'BlueprintProtokronika.latte'} {* just a demo - delete eventually; user.latte to be used *}
{block mainblock}
{include './login-social-google.latte'}
{/block}
{block script}
{include './login-social-common-script.latte'}
{/block}
