<div n:if="$showLogin">
    {* Show form with email and CSRF *}
    <form method="POST">
        <input type="email" name="email" placeholder="vas@email.cz" autofocus="true"/>
        <input type="hidden" value="{$csrfToken}" name="csrfToken"/>
        <input type="submit" value="Ok">
    </form>
</div>
<form n:if="$showLogout" class="seablast-auth-logout-link" method="POST" action="{$configuration->getString('SB_APP_ROOT_ABSOLUTE_URL')}{$configuration->getString('AuthApp:USER_ROUTE')}/">
    <input type="hidden" value="1" name="logout"/>
    <input type="hidden" value="{$csrfToken}" name="csrfToken"/>
    <input type="submit" value="Logout">
</form>
<p n:if="$message">{$message}</p>
